##############################################################################
##### infodispd.service           ############################################
##############################################################################
##### infodisp Service File       ############################################
##### version 1.1 2018/07/05      ############################################
##### System Status Daemon        ############################################
##### for Epson Mode Compatible   ############################################
##### Character Displays          ############################################
##############################################################################
##### (С) Vitaly Prokofiev, 2018  ############################################
##### infodisp.digitalvintage.ru  ############################################
##### Licensed under GNU GPL v3   ############################################
##############################################################################

[Unit]
Description=infodisp daemon
After=local-fs.target network.target

[Service]
Type=simple
User=root
ExecStart=/opt/infodisp/infodisp.sh
ExecStop=/opt/infodisp/infodisp-shutdown.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
